<head>
    <meta charset="utf-8">
    <title>Error</title>
    <link rel="stylesheet" href="/site.css">
</head>
<body>
    <main>
        <p class="not-found">{{error}} {{notFound}}.</p>
    <a href="/">Make another search.</a>
</main>
</body>