<head>
    <meta charset="utf-8">
    <title>People Finder</title>
    <link rel="stylesheet" href="/site.css">
</head>
<body>
    <header>
        <h1>People Finder</h1>
    </header>
    <main>
        <p>
            The purpose of this website is to search through a list of people. Type in a name to search, anything from part of a name to a full name.
        </p>
        <form action="/search" method="POST">
            <div class="search-form">
                <input type="search" id="personName" placeholder="Search..." name="personName"/>
            </div>
            <div class="search-form">
                <button type="submit" class="search-button">Submit</button>
            </div>
        </form>
    </main>
</body>